.game {
    display: flex;
    justify-content: space-between;
    height: 75vh;
}

.mobile {
    display:none;
}

.door {
    height: 275px;
    width: 200px;
    margin: 10px;
    border-radius: 20px;
    border: 5px solid $pink;
}

.door-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .key {
        width: 65px;
        align-items: center;
        margin: 0 auto;
    }
}

.door-border {
    border: 5px solid $purple;
    border-radius: 20px;
    height: 270px;
    width: 200px;
}

.door.doorSelected {
    background-color:rgba($color: $pink, $alpha: 0.42);
}

.character {
    height: 180px;
    width: 165px;
    margin: 20px 0;
    margin-left: 10px;
    margin-right:0;

}

.title {
    font-size: 2rem;
    text-shadow: 3px 3px $purple;
    margin-top: 2.5rem;
}


h1, h2 {
    text-align: center;
    text-transform: uppercase;
}

.scoreSection {
    display: flex;
    justify-content: center;
    text-shadow: 3px 3px $purple;
}

.scoreTitle {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}

.score {
    margin:0;
    margin-left: 25px;
    font-size: 2.5rem;
}

@media(max-width:1005px) {
    .door {
        height: 250px;
        width: 175px;
        border: 3px solid $pink;
    }

    .door-info {
        
        .key {
            width: 50px;
        }
    }

    .door-border {
        height: 245px;
        width: 175px;
        border: 3px solid $purple;
    }

    .character {
        height: 155px;
        width: 140px;
    }
}

@media(max-width:870px) {
    .door {
        height: 225px;
        width: 150px;
        margin: 10px;
    }
    .door-border {
        height: 220px;
        width: 150px;
    }

    .character {
        height: 130px;
        width: 115px;
        margin: 20px 0;
        margin-left: 10px;
        margin-right:0;
    }
}

@media(max-width:740px) {
    .door {
        height: 210px;
        width: 135px;
        margin: 10px;
    }

    .door-border {
        height: 205px;
        width: 135px;
        border:none;
    }

    .character {
        height: 120px;
        width: 105px;
        margin-left: 10px;
    }
}

@media(max-width:615px) {
    .door {
        height: 170px;
        width: 110px;
        margin: 5px auto;
    }

    .door-border {
        height: 205px;
        width: 135px;
        border:none;
    }

    .character {
        height: 105px;
        width: 90px;
        margin-left: 5px;
    }
    .door-info {
        justify-content: center;

        .key {
            width: 35px;
        }
    }
}
